@media (max-width: 600px) {
  .skills {
    flex-direction: column;
  }

  .card {
    width: 100%;
  }

  body {
    padding: 10px;
  }
}

body {
  font-family: Arial;
  background-color: #f4f4f4;
  padding: 20px;
}

.skills {
  display: flex;
  gap: 15px;
}

.card {
  background-color: white;
  padding: 15px;
  border: 2px solid black;
  width: 120px;
  text-align: center;
}

button {
  padding: 8px;
  margin-top: 10px;
}
